In [1]:
import pandas as pd
#A random file with trips
df = pd.read_csv('sensorlogger_StopsOpenData.csv')
df

,Unnamed: 0,datetime,lng,lat,uid,leaving_datetime
0,0,2024-05-07 10:39:47,-8.401850,40.190362,146,2024-05-07 10:58:50
1,1,2024-05-07 11:05:39,-8.409373,40.198672,146,2024-05-07 16:49:52
2,2,2024-05-07 16:49:52,-8.416462,40.186296,146,2024-05-07 18:28:10
3,3,2024-05-07 18:29:49,-8.429089,40.197293,146,2024-05-07 19:13:21
4,4,2024-05-07 19:13:21,-8.425924,40.202361,146,2024-05-07 19:37:31
5,5,2024-05-07 19:37:31,-8.432195,40.204944,146,2024-05-07 21:34:39
6,6,2024-05-07 21:34:39,-8.430780,40.200921,146,2024-05-07 22:00:13
7,7,2024-05-07 22:00:13,-8.409364,40.198674,146,2024-05-08 14:00:22
8,8,2024-05-08 14:00:22,-8.414995,40.186314,146,2024-05-08 19:45:45
9,9,2024-05-08 19:45:45,-8.408615,40.194200,146,2024-05-08 20:17:25
10,10,2024-05-14 10:46:40,-8.405773,40.197228,217,2024-05-14 19:06:40
11,11,2024-05-14 19:06:40,-8.412925,40.192630,217,2024-05-14 21:53:20
12,12,2024-05-14 21:53:20,-8.405745,40.197138,217,2024-05-15 11:46:40
13,13,2024-05-27 10:12:12,-8.405779,40.197210,222,2024-05-27 19:58:36
14,14,2024-05-27 20:02:08,-8.425147,40.207933,222,2024-05-27 21:46:25
15,15,2024-05-27 21:48:57,-8.405732,40.196925,222,2024-05-27 22:14:00
16,16,2024-05-05 09:57:48,-8.410672,40.197398,257,2024-05-05 10:10:44
17,17,2024-05-05 10:10:44,-8.408600,40.194273,257,2024-05-05 12:40:51
18,18,2024-05-05 12:40:51,-8.408594,40.194257,257,2024-05-05 18:19:59
19,19,2024-05-05 18:27:00,-8.410338,40.200652,257,2024-05-06 13:32:53

In [2]:
#Obtain the column names, number of instances and datatype of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        20 non-null     int64
 1   datetime          20 non-null     object
 2   lng               20 non-null     float64
 3   lat               20 non-null     float64
 4   uid               20 non-null     int64
 5   leaving_datetime  20 non-null     object
dtypes: float64(2), int64(2), object(2)
memory usage: 1.1+ KB

In [9]:
import requests
from geopy.distance import geodesic

# Replace with your Foursquare API key
FOURSQUARE_API_KEY = 'fsq3xjD2KIb7kY5oJGt5/4/nYydBjx0oz1ofCaLjE0WBRYY='
SEARCH_RADIUS = 10  # Radius in meters

def get_nearest_poi_category(lat, lon):
    url = 'https://api.foursquare.com/v3/places/search'
    params = {
        'll': f'{lat},{lon}',
        'radius': SEARCH_RADIUS,
        'limit': 1  # Only need the nearest POI
    }
    headers = {
        'Authorization': FOURSQUARE_API_KEY
    }

    response = requests.get(url, params=params, headers=headers)
    
    if response.status_code == 200:
        data = response.json()
        if data['results']:
            return data['results'][0]['categories'][0]['name']
        else:
            return 'No POI within 10 meters'
    else:
        return 'API request failed'

# Apply the function to each row in the DataFrame
df['poi_category'] = df.apply(lambda row: get_nearest_poi_category(row['lat'], row['lng']), axis=1)

print(df)

    Unnamed: 0             datetime       lng        lat  uid  \
0            0  2024-05-07 10:39:47 -8.401850  40.190362  146
1            1  2024-05-07 11:05:39 -8.409373  40.198672  146
2            2  2024-05-07 16:49:52 -8.416462  40.186296  146
3            3  2024-05-07 18:29:49 -8.429089  40.197293  146
4            4  2024-05-07 19:13:21 -8.425924  40.202361  146
5            5  2024-05-07 19:37:31 -8.432195  40.204944  146
6            6  2024-05-07 21:34:39 -8.430780  40.200921  146
7            7  2024-05-07 22:00:13 -8.409364  40.198674  146
8            8  2024-05-08 14:00:22 -8.414995  40.186314  146
9            9  2024-05-08 19:45:45 -8.408615  40.194200  146
10          10  2024-05-14 10:46:40 -8.405773  40.197228  217
11          11  2024-05-14 19:06:40 -8.412925  40.192630  217
12          12  2024-05-14 21:53:20 -8.405745  40.197138  217
13          13  2024-05-27 10:12:12 -8.405779  40.197210  222
14          14  2024-05-27 20:02:08 -8.425147  40.207933  222
15          15  2024-05-27 21:48:57 -8.405732  40.196925  222
16          16  2024-05-05 09:57:48 -8.410672  40.197398  257
17          17  2024-05-05 10:10:44 -8.408600  40.194273  257
18          18  2024-05-05 12:40:51 -8.408594  40.194257  257
19          19  2024-05-05 18:27:00 -8.410338  40.200652  257

       leaving_datetime             poi_category
0   2024-05-07 10:58:50  No POI within 10 meters
1   2024-05-07 16:49:52  No POI within 10 meters
2   2024-05-07 18:28:10  No POI within 10 meters
3   2024-05-07 19:13:21                Bookstore
4   2024-05-07 19:37:31  No POI within 10 meters
5   2024-05-07 21:34:39                   Museum
6   2024-05-07 22:00:13  No POI within 10 meters
7   2024-05-08 14:00:22  No POI within 10 meters
8   2024-05-08 19:45:45  No POI within 10 meters
9   2024-05-08 20:17:25            Grocery Store
10  2024-05-14 19:06:40  No POI within 10 meters
11  2024-05-14 21:53:20  No POI within 10 meters
12  2024-05-15 11:46:40  No POI within 10 meters
13  2024-05-27 19:58:36  No POI within 10 meters
14  2024-05-27 21:46:25      Health and Medicine
15  2024-05-27 22:14:00  No POI within 10 meters
16  2024-05-05 10:10:44  No POI within 10 meters
17  2024-05-05 12:40:51            Grocery Store
18  2024-05-05 18:19:59            Grocery Store
19  2024-05-06 13:32:53  No POI within 10 meters

In [10]:
df.to_csv('sensorlogger_StopsOpenDataFoursquare.csv')